{% import 'bootstrap/wtf.html' as wtf %}
{% macro render_todo(todos_user, delete_form, update_form) %}
    <div class="show-tasks">
        <div class="name-task">
            Tarea: {{ todos_user.description }}
        </div>
        <span class="badge-text">
            {% if todos_user.done %}
                Estado: Hecho
            {% else %}
                Estado: Hacer
            {% endif %}
        </span>
        <div class="button-update">
            {{ wtf.quick_form(update_form, action=url_for('update', todo_id=todos_user.todo_id)) }}
        </div>
        <div class="button-delete">
            {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todos_user.todo_id)) }}
        </div>
    </div>
{% endmacro %}


